In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df=pd.read_excel('PAYMENT.xlsx')

In [6]:
df.tail()

    INVOICE DATE    AMOUNT CLEARING DATE  POD
194   2019-01-26  0.370628    2019-02-02    5
195   2019-03-29  0.425872    2019-04-04    8
196   2018-06-04  0.585237    2018-06-15    4
197   2018-04-11  0.154067    2018-04-17    1
198   2018-04-24  0.397054    2018-04-26    2

In [7]:
df['abcd']=df['POD']

In [8]:
df.head()

  INVOICE DATE    AMOUNT CLEARING DATE  POD  abcd
0   2019-01-28  0.567728    2019-02-11    9     9
1   2018-11-25  0.701253    2018-12-09    5     5
2   2018-07-09  0.560119    2018-07-09    7     7
3   2018-06-20  0.683401    2018-07-01    5     5
4   2018-06-03  0.429630    2018-06-03    7     7

In [11]:
df.shape

(199, 5)

In [14]:
df.drop(columns='abcd',inplace=True)

In [15]:
df.shape

(199, 4)