In [2]:
import pandas as pd
import numpy as np

In [10]:
df=pd.read_excel('CashData.xlsx',  parse_dates = ['Pstng.Date'], index_col=0)#, date_parser=parse)

In [11]:
import matplotlib.pyplot as plt

In [20]:
# convert series to supervised learning
def series_to_supervised(data, n_in=1, n_out=1, dropnan=True):
    n_vars = 1 if type(data) is list else data.shape[1]
    df = DataFrame(data)
    cols, names = list(), list()
# input sequence (t-n, ... t-1)
    for i in range(n_in, 0, -1):
        cols.append(df.shift(i))
        names += [('var%d(t-%d)' % (j+1, i)) for j in range(n_vars)]
    # forecast sequence (t, t+1, ... t+n)
    for i in range(0, n_out):
        cols.append(df.shift(-i))
        if i == 0:
            names += [('var%d(t)' % (j+1)) for j in range(n_vars)]
        else:
            names += [('var%d(t+%d)' % (j+1, i)) for j in range(n_vars)]
    # put it all together
    agg = concat(cols, axis=1)
    agg.columns = names
    # drop rows with NaN values
    if dropnan:
        agg.dropna(inplace=True)
    return agg

In [22]:
target=928860
names=['Account','Local.Crcy.Amt']

In [81]:
df=df.sort_index()

In [82]:
df_targets=df1[df1['Account'] == 926346].shift(-3)

In [83]:
df_targets.head()

             Account  Local.Crcy.Amt
Pstng.Date
2018-04-18  926346.0            0.13
2018-04-18  926346.0            0.15
2018-04-19  926346.0            0.15
2018-04-21  926346.0            0.12
2018-04-21  926346.0            0.25

In [84]:
xdata=df.values[0:-32]

In [85]:
xdata.shape

(57996, 2)

In [86]:
ydata=df_targets.values[:-32]

In [87]:
xdata.shape

(57996, 2)

In [88]:
ydata.shape

(130, 2)

In [89]:
df.head(-3 + 5)

            Account  Local.Crcy.Amt
Pstng.Date
2018-04-01   151727            0.16
2018-04-01   161834            0.13