In [9]:
import pandas as pd
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt
import numpy as np

In [10]:
import warnings
warnings.filterwarnings('ignore')

In [11]:
################################################# MULTI CLASS #####################################################

In [12]:
filename='MyData.xlsx'

In [13]:
path="C:\\Users\\Laptop\\Desktop\\TATA STEEL\\TATA STEEL-2\\TATA STEEL"

In [14]:
df1=pd.read_csv('MyData.csv')

In [15]:
df=df1

In [16]:
df2=df1[['Net.Due.Dt','Clearing','Status']]

In [17]:
df2.head()

  Net.Due.Dt  Clearing   Status
0   05-01-19  31-12-18   Not OD
1   10-11-18  15-11-18  Overdue
2   15-11-18  15-11-18   Not OD
3   09-01-19  14-01-19  Overdue
4   13-11-18  15-11-18  Overdue

In [18]:
df2.dropna(inplace=True)

In [19]:
df2['Range of Delay']=pd.to_datetime(df2['Clearing'])-pd.to_datetime(df2['Net.Due.Dt'])

In [20]:
df2['Range of Delay'].head()

0   -121 days
1     35 days
2      0 days
3   -230 days
4      2 days
Name: Range of Delay, dtype: timedelta64[ns]

In [21]:

df2['Range of Delay']=df2['Range of Delay'].dt.days
#df['Difference'] = pd.to_numeric(df['Difference']) 
df2['Range of Delay']=pd.to_numeric(df2['Range of Delay'])
#df2['Range of Delay']

In [22]:
df2 = df2.reset_index()
df2.drop(columns='index',inplace=True)

In [23]:
df2['Status'] = np.where(df2['Range of Delay'] > 7, 2, (np.where(df2['Range of Delay'] > 0, 1,0)))

In [24]:
df2['Status'].value_counts()

0    89864
1    12819
2    11029
Name: Status, dtype: int64

In [25]:
df1['Status']=df2['Status']

In [26]:
df1.head(5)

,BusA,CCAr,Reference,Account,Customer.Name,Zone,Bran,Ty,Status,Local.Crcy.Amt,...,Doc.Chq.dt,Month,Pstng.Date,Net.Due.Dt,G.L,Year,Clrng.doc.,Clearing,Pending_Amy,pending_cnt
0,1000,BPR,4.132000e+09,929488,KAUSALYA AGENCIES,South,SBAD,RV,0,0.10,...,31.12.2018,Dec,31-12-18,05-01-19,1221001,2019,94177601,31-12-18,0.00,0
1,9600,BPR,1.115502e+09,928860,TATA STEEL PROCESSING,North,GBAD,RV,2,0.04,...,31.10.2018,Oct,31-10-18,10-11-18,1221001,2019,93892774,15-11-18,0.60,4
2,9600,BPR,1.115502e+09,928860,TATA STEEL PROCESSING,North,GBAD,RV,0,0.12,...,05.11.2018,Nov,05-11-18,15-11-18,1221001,2019,93892774,15-11-18,1.42,10
3,1000,BPR,2.412166e+09,928860,TATA STEEL PROCESSING,North,GBAD,RV,0,0.17,...,30.12.2018,Dec,30-12-18,09-01-19,1221001,2019,94398427,14-01-19,0.00,0
4,2500,BPR,2.410320e+09,928860,TATA STEEL PROCESSING,North,GBAD,RV,1,0.16,...,03.11.2018,Nov,03-11-18,13-11-18,1221001,2019,93892774,15-11-18,1.26,9

In [27]:
df1.dropna(inplace=True)
df1['Status']=df1['Status'].astype('category').cat.codes
df1['BusA']=df1['BusA'].astype('category').cat.codes
df1['CCAr']=df1['CCAr'].astype('category').cat.codes
#df['Account']=df['Account'].astype('category').cat.codes
#df1.drop(columns='Reference',inplace=True)
df1.drop(columns='Customer.Name',inplace=True)
df1.drop(columns=['DocumentNo','Month','Year','Clrng.doc.'],inplace=True)
df1['Zone']=df1['Zone'].astype('category').cat.codes
df1['Bran']=df1['Bran'].astype('category').cat.codes
df1['PayT'] = df1['PayT'].astype('category').cat.codes
df1.drop(columns='Doc.Chq.dt',inplace=True)
df1.drop(columns='Ty',inplace=True)
df1.drop(columns='Sale.Type',inplace=True)
df1.head(5)

,BusA,CCAr,Reference,Account,Zone,Bran,Status,Local.Crcy.Amt,Arr..Clearing...Net.Due.Date.,PayT,Pstng.Date,Net.Due.Dt,G.L,Clearing,Pending_Amy,pending_cnt
0,0,0,4.132000e+09,929488,2,21,0,0.10,-5,27,31-12-18,05-01-19,1221001,31-12-18,0.00,0
1,6,0,1.115502e+09,928860,1,9,2,0.04,5,31,31-10-18,10-11-18,1221001,15-11-18,0.60,4
2,6,0,1.115502e+09,928860,1,9,0,0.12,0,31,05-11-18,15-11-18,1221001,15-11-18,1.42,10
3,0,0,2.412166e+09,928860,1,9,0,0.17,5,31,30-12-18,09-01-19,1221001,14-01-19,0.00,0
4,2,0,2.410320e+09,928860,1,9,1,0.16,2,31,03-11-18,13-11-18,1221001,15-11-18,1.26,9

In [28]:
df1['Pstng.Date']=pd.to_datetime(df1['Pstng.Date']).dt.strftime("%Y%m%d").astype(str)
df1['Net.Due.Dt']=pd.to_datetime(df1['Net.Due.Dt']).dt.strftime("%Y%m%d").astype(str)
df1['Clearing']=pd.to_datetime(df1['Clearing']).dt.strftime("%Y%m%d").astype(str)

In [29]:
df1.drop(columns=['Net.Due.Dt','Clearing'],inplace=True)

In [30]:
df1 = df1.reset_index()
df1.drop(columns='index',inplace=True)

In [31]:
df1.drop(columns='Arr..Clearing...Net.Due.Date.',inplace=True)

In [32]:
y=np.array(df1['Status'])
df1.drop(columns='Status',inplace=True)

In [184]:
##############  normalizing data ##########################

In [33]:
from sklearn import preprocessing
y1=df1.columns
x = df1.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df1 = pd.DataFrame(x_scaled,columns=df1.columns)
df1.head(5)

,BusA,CCAr,Reference,Account,Zone,Bran,Local.Crcy.Amt,PayT,Pstng.Date,G.L,Pending_Amy,pending_cnt
0,0.000000,0.0,0.927817,1.000000,0.666667,0.954545,0.196078,0.750000,1.000000,0.0,0.000000,0.000000
1,1.000000,0.0,0.207218,0.999243,0.333333,0.409091,0.078431,0.861111,0.822538,0.0,0.020263,0.014815
2,1.000000,0.0,0.207218,0.999243,0.333333,0.409091,0.235294,0.861111,0.361136,0.0,0.047957,0.037037
3,0.000000,0.0,0.516973,0.999243,0.333333,0.409091,0.333333,0.861111,0.999113,0.0,0.000000,0.000000
4,0.333333,0.0,0.516532,0.999243,0.333333,0.409091,0.313725,0.861111,0.183673,0.0,0.042553,0.033333

In [34]:
X=df1

In [35]:
k,count=np.unique(y,return_counts=True)
count

array([89864, 12819, 11029], dtype=int64)

In [36]:
############# SPLITTING DATA ###################

In [37]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(X, y, test_size = 0.3)

In [39]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(handle_unknown='ignore')

In [41]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [48]:
y_train = keras.utils.to_categorical(ytrain, 3)
y_test = keras.utils.to_categorical(ytest, 3)

In [50]:
ytrain,y_train

(array([0, 0, 2, ..., 0, 0, 0], dtype=int8), array([[1., 0., 0.],
        [1., 0., 0.],
        [0., 0., 1.],
        ...,
        [1., 0., 0.],
        [1., 0., 0.],
        [1., 0., 0.]], dtype=float32))

In [51]:
model = Sequential()
model.add(Dense(10, input_dim=len(xtrain.columns), activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(6, activation='relu'))
model.add(Dense(6, activation='relu'))
model.add(Dense(4, activation='relu'))
model.add(Dense(2, activation='relu'))
model.add(Dense(3, activation='softmax'))

# compile and fit model
model.compile(loss="categorical_crossentropy", optimizer="adam", metrics=['accuracy'])
model.fit(xtrain, y_train, batch_size=15, epochs=10, validation_data=(xtest, y_test))

Train on 79598 samples, validate on 34114 samples
Epoch 1/10
79598/79598 [==============================] - 26s 323us/step - loss: 0.6010 - acc: 0.7905 - val_loss: 0.5729 - val_acc: 0.7896
Epoch 2/10
79598/79598 [==============================] - 25s 309us/step - loss: 0.5632 - acc: 0.7905 - val_loss: 0.5579 - val_acc: 0.7896
Epoch 3/10
79598/79598 [==============================] - 24s 299us/step - loss: 0.5508 - acc: 0.7905 - val_loss: 0.5495 - val_acc: 0.7896
Epoch 4/10
79598/79598 [==============================] - 21s 265us/step - loss: 0.5455 - acc: 0.7935 - val_loss: 0.5449 - val_acc: 0.7942
Epoch 5/10
79598/79598 [==============================] - 21s 261us/step - loss: 0.5429 - acc: 0.7956 - val_loss: 0.5451 - val_acc: 0.7965
Epoch 6/10
79598/79598 [==============================] - 21s 261us/step - loss: 0.5405 - acc: 0.7971 - val_loss: 0.5412 - val_acc: 0.7974
Epoch 7/10
79598/79598 [==============================] - 30s 372us/step - loss: 0.5383 - acc: 0.7985 - val_loss: 0.5382 - val_acc: 0.7998
Epoch 8/10
79598/79598 [==============================] - 42s 526us/step - loss: 0.5368 - acc: 0.7992 - val_loss: 0.5390 - val_acc: 0.7976
Epoch 9/10
79598/79598 [==============================] - 32s 408us/step - loss: 0.5351 - acc: 0.7999 - val_loss: 0.5379 - val_acc: 0.8000
Epoch 10/10
79598/79598 [==============================] - 42s 523us/step - loss: 0.5336 - acc: 0.8000 - val_loss: 0.5401 - val_acc: 0.7997

In [53]:
yo=model.predict(xtest)

In [62]:
y=np.argmax(yo,axis=1)

In [64]:
from sklearn import metrics
print("Accuracy: for Neural",metrics.accuracy_score(ytest, y)*100)

Accuracy: for Neural 79.96716890426218

In [193]:
################### RANDOM FOREST ########################

In [247]:
from sklearn.ensemble import RandomForestClassifier
model= RandomForestClassifier(n_estimators = 100, criterion='entropy',random_state = 0)
model.fit(xtrain, ytrain)
y2=model.predict(xtest)

In [248]:
from sklearn import metrics
from sklearn.metrics import roc_auc_score
print("Accuracy: for Random Forest",metrics.accuracy_score(ytest, y2)*100)
#print('ROC SCORE:',roc_auc_score(ytest, y2))
print(pd.Series(model.feature_importances_,index=df1.columns).sort_values(ascending=False))

Accuracy: for Random Forest 93.19341033006977
Pstng.Date        0.166312
Pending_Amy       0.160700
Reference         0.148259
Account           0.131029
pending_cnt       0.118528
PayT              0.074852
Local.Crcy.Amt    0.073688
Bran              0.066942
Zone              0.030001
BusA              0.029691
G.L               0.000000
CCAr              0.000000
dtype: float64

In [249]:
unique, counts = np.unique(ytest, return_counts=True)
print(dict(zip(unique, counts)))
unique, counts = np.unique(y2, return_counts=True)
print(dict(zip(unique, counts)))
print()
print('Confusion Matrix for Random Forest')
print(metrics.confusion_matrix(y2, ytest))
print('------------------------------------------------------------------------------------------------')

{0: 27046, 1: 4429, 2: 1613, 3: 827, 4: 195, 5: 4}
{0: 27589, 1: 4173, 2: 1447, 3: 746, 4: 159}

Confusion Matrix for Random Forest
[[26438   871   178    67    32     3]
 [  537  3417   174    34    11     0]
 [   59   115  1179    91     2     1]
 [    7    25    80   621    13     0]
 [    5     1     2    14   137     0]
 [    0     0     0     0     0     0]]
------------------------------------------------------------------------------------------------

In [167]:
################### Decision tress  #####################

In [250]:
from sklearn import tree
decision_tree = tree.DecisionTreeClassifier(random_state=0, max_depth=100)
ytree =decision_tree.fit(xtrain, ytrain)
ytreepred=decision_tree.predict(xtest)
print("Accuracy for Decision Trees:",metrics.accuracy_score(ytreepred,ytest)*100)

Accuracy for Decision Trees: 92.16743858826288

In [251]:
unique, counts = np.unique(ytest, return_counts=True)
print(dict(zip(unique, counts)))
unique, counts = np.unique(ytreepred, return_counts=True)
print(dict(zip(unique, counts)))
print()
print('Confusion Matrix for Decision Trees')
print(metrics.confusion_matrix(ytreepred, ytest))
print('------------------------------------------------------------------------------------------------')

{0: 27046, 1: 4429, 2: 1613, 3: 827, 4: 195, 5: 4}
{0: 27118, 1: 4440, 2: 1576, 3: 797, 4: 183}

Confusion Matrix for Decision Trees
[[26096   790   153    53    26     0]
 [  768  3427   184    45    13     3]
 [  117   173  1175   106     4     1]
 [   42    32    95   610    18     0]
 [   23     7     6    13   134     0]
 [    0     0     0     0     0     0]]
------------------------------------------------------------------------------------------------

In [252]:
print(pd.Series(decision_tree.feature_importances_,index=df1.columns).sort_values(ascending=False))

Pstng.Date        0.198972
Pending_Amy       0.176059
Reference         0.146875
Account           0.137690
pending_cnt       0.094357
Bran              0.084000
Local.Crcy.Amt    0.068327
PayT              0.065543
BusA              0.015943
Zone              0.012234
G.L               0.000000
CCAr              0.000000
dtype: float64

In [253]:
probad=decision_tree.predict_proba(xtest)
probad

array([[1.        , 0.        , 0.        , 0.        , 0.        ,
        0.        ],
       [1.        , 0.        , 0.        , 0.        , 0.        ,
        0.        ],
       [1.        , 0.        , 0.        , 0.        , 0.        ,
        0.        ],
       ...,
       [1.        , 0.        , 0.        , 0.        , 0.        ,
        0.        ],
       [0.57142857, 0.42857143, 0.        , 0.        , 0.        ,
        0.        ],
       [1.        , 0.        , 0.        , 0.        , 0.        ,
        0.        ]])

In [39]:
############################################  KNN ##################################

In [254]:
from sklearn import neighbors

In [255]:
limit=10

In [203]:
#for i in range(limit):
#    mo = neighbors.KNeighborsClassifier(n_neighbors =i+2)
#    mo.fit(xtrain, ytrain)
#    predict = mo.predict(xtest)
#    print("Accuracy: for KNN :",metrics.accuracy_score(predict, ytest)*100,'for k= ',(i+2))

In [256]:
mo = neighbors.KNeighborsClassifier(n_neighbors =2)
mo.fit(xtrain, ytrain)
predict = mo.predict(xtest)
print("Accuracy: for KNN :",metrics.accuracy_score(predict, ytest)*100)

Accuracy: for KNN : 91.9270680658967

In [257]:
probak=mo.predict_proba(xtest)

In [258]:
np.unique(probak)

array([0. , 0.5, 1. ])

In [259]:
arr,count=np.unique(predict,return_counts=True)
print(arr,count)

[0 1 2 3 4] [28115  3893  1330   641   135]

In [260]:
print()
print('Confusion Matrix for KNN')
print(metrics.confusion_matrix(predict, ytest))

Confusion Matrix for KNN
[[26508  1209   260    93    45     0]
 [  456  3119   247    61     7     3]
 [   60    83  1062   117     7     1]
 [   18    18    44   548    13     0]
 [    4     0     0     8   123     0]
 [    0     0     0     0     0     0]]

In [261]:
unique, counts = np.unique(ytest, return_counts=True)
print(dict(zip(unique, counts)))
unique, counts = np.unique(predict, return_counts=True)
print(dict(zip(unique, counts)))
print('---------------------------------------------------------------------------------------------')

{0: 27046, 1: 4429, 2: 1613, 3: 827, 4: 195, 5: 4}
{0: 28115, 1: 3893, 2: 1330, 3: 641, 4: 135}
---------------------------------------------------------------------------------------------

In [47]:
######################################### SVM  ####################################

In [48]:
#from sklearn import svm

In [77]:
#clf = svm.SVC(kernel='linear') # Linear Kernel

In [78]:
#clf.fit(xtrain, ytrain)

In [79]:
#yp=clf.predict(xtest)
#print("Accuracy: for SVM",metrics.accuracy_score(ytest, yp))
#print()
#print(metrics.confusion_matrix(ytest, yp))

In [80]:
#unique, counts = np.unique(ytest, return_counts=True)
#print(dict(zip(unique, counts)))
#unique, counts = np.unique(yp, return_counts=True)
#print(dict(zip(unique, counts)))
#print('---------------------------------------------------------------------------------------------')

In [53]:
#############################   ADABOOST   ##############################################

In [262]:
from sklearn.ensemble import AdaBoostClassifier
clf = AdaBoostClassifier(base_estimator=decision_tree,n_estimators=100, random_state=0)
clf.fit(xtrain, ytrain)

AdaBoostClassifier(algorithm='SAMME.R',
          base_estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=100,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best'),
          learning_rate=1.0, n_estimators=100, random_state=0)

In [263]:
yout=clf.predict(xtest)

In [264]:
print("Accuracy: for Adaboost :",metrics.accuracy_score(ytest, yout)*100)

Accuracy: for Adaboost : 92.78302163334702

In [265]:
print()
print('Confusion Matrix for KNN WITH ADABOOST')
print(metrics.confusion_matrix(yout, ytest))

Confusion Matrix for KNN WITH ADABOOST
[[26454   947   218   101    38     0]
 [  529  3340   184    37    11     3]
 [   52   120  1133    85     2     1]
 [    6    21    77   592    11     0]
 [    5     1     1    12   133     0]
 [    0     0     0     0     0     0]]

In [ ]:
######################################################################################

In [ ]:
########################### VOTING  ##########################

In [266]:
from sklearn.ensemble import VotingClassifier
eclf = VotingClassifier(estimators=[('dt',decision_tree ), ('knn', mo), ('adaboost', clf), ('RF',model)],voting='soft', weights=[2, 0.5, 3,8])
eclf1 = eclf.fit(xtrain, ytrain)
eclf2=eclf.predict(xtest)

In [267]:
voteprob=eclf.predict_proba(xtest)

In [217]:
print("Accuracy: for Adaboost :",metrics.accuracy_score(ytest, eclf2)*100)

Accuracy: for Adaboost : 93.59500498329132

In [218]:
print()
print('Confusion Matrix for Voting')
print(metrics.confusion_matrix(eclf2, ytest))

Confusion Matrix for Voting
[[26532   804   148    56    31     1]
 [  438  3449   222    36     5     0]
 [   65   129  1179    98     4     0]
 [   17    27    69   634    12     0]
 [   10     0     4     9   133     0]
 [    0     0     0     0     0     2]]

In [157]:
##################################################################################

In [219]:
from sklearn.ensemble import BaggingClassifier

In [220]:
bagging = BaggingClassifier(mo,max_samples=0.5, max_features=0.5)
bagging.fit(xtrain,ytrain)
ybag=bagging.predict(xtest)
print("Accuracy: for Bagging :",metrics.accuracy_score(ytest, ybag)*100)

Accuracy: for Bagging : 88.05475757753415

In [221]:
print()
print('Confusion Matrix for Bagging')
print(metrics.confusion_matrix(ybag, ytest))

Confusion Matrix for Bagging
[[26669  2129   582   275    75     3]
 [  350  2172   277    78    10     0]
 [   35    89   717    75     9     0]
 [    6    16    45   396     6     0]
 [    2     3     1     9    85     0]
 [    0     0     0     0     0     0]]