In [2]:
import pandas as pd
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt
import numpy as np

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [124]:
df=pd.read_excel('BPR Only .xlsx','Sheet1')

In [125]:
################################### DATA PREPROCESSING  #####################################

In [126]:
df.dropna(inplace=True)
df['Status']=df['Status'].astype('category').cat.codes
df['    BusA']=df['    BusA'].astype('category').cat.codes
df['CCAr']=df['CCAr'].astype('category').cat.codes
#df['Account']=df['Account'].astype('category').cat.codes
df.drop(columns='Reference',inplace=True)
df.drop(columns='Customer Name',inplace=True)
df.drop(columns=['DocumentNo','Month','Year','Clrng doc.'],inplace=True)
df['Zone']=df['Zone'].astype('category').cat.codes
df['Bran']=df['Bran'].astype('category').cat.codes
df['PayT'] = df['PayT'].astype('category').cat.codes
df.drop(columns='Doc/Chq dt',inplace=True)
df.head(5)

,BusA,CCAr,Account,Zone,Bran,Status,Local Crcy Amt,Arr (Clearing - Net Due Date),PayT,Pstng Date,Net Due Dt,Clearing
0,6,0,928860,1,9,1,0.035212,5,31,2018-10-31,2018-11-10,2018-11-15
1,6,0,928860,1,9,0,0.123124,0,31,2018-11-05,2018-11-15,2018-11-15
2,6,0,814077,1,9,1,0.274466,3,27,2018-11-19,2018-11-24,2018-11-27
4,6,0,814077,1,9,1,0.151648,6,27,2018-12-29,2019-01-03,2019-01-09
5,6,0,814077,1,9,1,0.156470,6,27,2018-12-29,2019-01-03,2019-01-09

In [127]:
df['Difference']=df['Net Due Dt']-df['Pstng Date']
df['Difference']=df['Difference'].dt.days
#df['Difference'] = pd.to_numeric(df['Difference']) 
df['Difference']=pd.to_numeric(df['Difference'])
df['Difference']

0         10
1         10
2          5
4          5
5          5
6         12
7         12
8         12
9         14
11        12
12        12
13        12
14        12
16         2
17         2
18        12
19        12
20        12
21        12
22        12
23        12
24        12
25        12
26        12
27        12
28        12
29        12
30        12
31        12
32        12
          ..
117442     0
117443     8
117444     8
117445     8
117446     0
117447     8
117448    10
117449     8
117450     0
117451     0
117452     3
117453     8
117454     8
117455     8
117456    10
117457     2
117458     6
117459     2
117460    15
117461     2
117462     0
117463     2
117464     2
117465    10
117466    15
117467     8
117468    15
117469     8
117470     5
117471     8
Name: Difference, Length: 113712, dtype: int64

In [128]:
df['Pstng Date']=df['Pstng Date'].dt.strftime("%Y%m%d").astype(str)
df['Net Due Dt']=df['Net Due Dt'].dt.strftime("%Y%m%d").astype(str)
df['Clearing']=df['Clearing'].dt.strftime("%Y%m%d").astype(str)

In [129]:
df.drop(columns=['Net Due Dt','Clearing'],inplace=True)

In [130]:
df = df.reset_index()
df.drop(columns='index',inplace=True)

In [131]:
#df.drop(columns='Clearing',inplace=True)
df.drop(columns='Arr (Clearing - Net Due Date)',inplace=True)

In [132]:
from sklearn import preprocessing
y=df.columns
x = df.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled,columns=df.columns)
df.head(5)

,BusA,CCAr,Account,Zone,Bran,Status,Local Crcy Amt,PayT,Pstng Date,Difference
0,1.0,0.0,0.999243,0.333333,0.409091,1.0,0.069108,0.861111,0.759036,0.111111
1,1.0,0.0,0.999243,0.333333,0.409091,0.0,0.241670,0.861111,0.848193,0.111111
2,1.0,0.0,0.860825,0.333333,0.409091,1.0,0.538742,0.750000,0.865060,0.055556
3,1.0,0.0,0.860825,0.333333,0.409091,1.0,0.297662,0.750000,0.997590,0.055556
4,1.0,0.0,0.860825,0.333333,0.409091,1.0,0.307127,0.750000,0.997590,0.055556

In [ ]:
#####################################################################################################

In [ ]:
################################  RANDOM FOREST  ###################################################

In [133]:
y=np.array(df['Status'])
X=df

In [134]:
df.drop(columns='Status',inplace=True)

In [135]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(X, y, test_size = 0.3, random_state=0)

In [136]:
from sklearn.ensemble import RandomForestClassifier
model= RandomForestClassifier(n_estimators=100, n_jobs=2, random_state=0)

In [137]:
y1=model.fit(xtrain, ytrain)

In [138]:
y2=model.predict(xtest)

In [139]:
from sklearn import metrics
from sklearn.metrics import roc_auc_score
print("Accuracy:",metrics.accuracy_score(ytest, y2))
print('ROC SCORE:',roc_auc_score(ytest, y2))
print(pd.Series(model.feature_importances_,index=df.columns).sort_values(ascending=False))

Accuracy: 0.9361552441812746
ROC SCORE: 0.8893138438325101
Pstng Date          0.332284
  Local Crcy Amt    0.200575
Account             0.181149
Bran                0.089022
PayT                0.081157
Difference          0.045614
    BusA            0.040483
Zone                0.029716
CCAr                0.000000
dtype: float64

In [140]:
unique, counts = np.unique(ytest, return_counts=True)
print(dict(zip(unique, counts)))
unique, counts = np.unique(y2, return_counts=True)
print(dict(zip(unique, counts)))
print()
print(metrics.confusion_matrix(ytest, y2))

{0.0: 27073, 1.0: 7041}
{0.0: 27577, 1.0: 6537}

[[26236   837]
 [ 1341  5700]]

In [ ]:
##############################  lOGISTIC REGRESSION  ####################################

In [141]:
from sklearn.linear_model import LogisticRegression
logisticRegr = LogisticRegression()
logisticRegr.fit(xtrain, ytrain)
y4=logisticRegr.predict(xtest)

In [142]:
print("Accuracy:",metrics.accuracy_score(ytest, y4))
print('ROC SCORE:',roc_auc_score(ytest, y4))
coefficients=logisticRegr.coef_
for i in range(len(X.columns)):
    print(X.columns[i],'-------->',coefficients[0][i])

Accuracy: 0.8011373629594888
ROC SCORE: 0.5619143585092959
    BusA --------> -0.24803854097647743
CCAr --------> 0.0
Account --------> 0.5256997862698055
Zone --------> -0.06125778280842479
Bran --------> 1.1536716581035102
  Local Crcy Amt --------> -0.6203688259186069
PayT --------> 2.7767900824587795
Pstng Date --------> 1.0720270961671174
Difference --------> -5.173787174379151

In [143]:
unique, counts = np.unique(ytest, return_counts=True)
print(dict(zip(unique, counts)))
unique, counts = np.unique(y4, return_counts=True)
print(dict(zip(unique, counts)))
print()
print(metrics.confusion_matrix(ytest, y2))

{0.0: 27073, 1.0: 7041}
{0.0: 32195, 1.0: 1919}

[[26236   837]
 [ 1341  5700]]

In [ ]:
################################################# MULTI CLASS #####################################################

In [4]:
df1=pd.read_excel('BPR Only .xlsx','Sheet1')

In [5]:
df2=df1[['Net Due Dt','Clearing','Status']]

In [6]:
#df2

In [7]:
df2.dropna(inplace=True)
#df2

In [8]:
df2['Range of Delay']=df2['Clearing']-df2['Net Due Dt']

In [9]:
df2['Range of Delay']=df2['Range of Delay'].dt.days
#df['Difference'] = pd.to_numeric(df['Difference']) 
df2['Range of Delay']=pd.to_numeric(df2['Range of Delay'])
#df2['Range of Delay']

In [10]:
df2 = df2.reset_index()
df2.drop(columns='index',inplace=True)

In [11]:
df2['Delay']=np.zeros([len(df2)])

In [12]:
df2

       Net Due Dt   Clearing   Status  Range of Delay  Delay
0      2018-11-10 2018-11-15  Overdue               5    0.0
1      2018-11-15 2018-11-15   Not OD               0    0.0
2      2018-11-24 2018-11-27  Overdue               3    0.0
3      2019-01-03 2019-01-09  Overdue               6    0.0
4      2019-01-03 2019-01-09  Overdue               6    0.0
5      2018-09-06 2018-09-06   Not OD               0    0.0
6      2018-09-07 2018-09-10  Overdue               3    0.0
7      2018-09-07 2018-09-07   Not OD               0    0.0
8      2018-09-25 2018-09-27  Overdue               2    0.0
9      2018-11-19 2018-11-16   Not OD              -3    0.0
10     2018-11-20 2018-11-20   Not OD               0    0.0
11     2018-11-20 2018-11-20   Not OD               0    0.0
12     2018-11-29 2018-11-27   Not OD              -2    0.0
13     2018-12-06 2018-12-07  Overdue               1    0.0
14     2018-12-06 2018-12-07  Overdue               1    0.0
15     2018-12-17 2018-12-17   Not OD               0    0.0
16     2018-12-17 2018-12-17   Not OD               0    0.0
17     2018-12-17 2018-12-17   Not OD               0    0.0
18     2018-12-18 2018-12-18   Not OD               0    0.0
19     2018-12-18 2018-12-18   Not OD               0    0.0
20     2018-12-18 2018-12-18   Not OD               0    0.0
21     2018-12-18 2018-12-18   Not OD               0    0.0
22     2018-12-18 2018-12-18   Not OD               0    0.0
23     2018-12-21 2018-12-19   Not OD              -2    0.0
24     2018-12-21 2018-12-19   Not OD              -2    0.0
25     2018-12-25 2018-12-24   Not OD              -1    0.0
26     2018-12-25 2018-12-24   Not OD              -1    0.0
27     2018-12-25 2018-12-24   Not OD              -1    0.0
28     2018-12-25 2018-12-24   Not OD              -1    0.0
29     2018-12-25 2018-12-24   Not OD              -1    0.0
...           ...        ...      ...             ...    ...
113682 2018-12-03 2018-12-31  Overdue              28    0.0
113683 2018-11-03 2018-11-30  Overdue              27    0.0
113684 2018-11-14 2018-11-30  Overdue              16    0.0
113685 2018-11-11 2018-11-30  Overdue              19    0.0
113686 2018-07-02 2018-07-31  Overdue              29    0.0
113687 2018-11-08 2018-11-30  Overdue              22    0.0
113688 2019-01-08 2019-01-31  Overdue              23    0.0
113689 2018-11-03 2018-11-30  Overdue              27    0.0
113690 2018-04-05 2018-05-06  Overdue              31    0.0
113691 2018-04-05 2018-05-06  Overdue              31    0.0
113692 2018-11-07 2018-11-30  Overdue              23    0.0
113693 2018-11-07 2018-11-30  Overdue              23    0.0
113694 2018-11-02 2018-11-30  Overdue              28    0.0
113695 2018-11-05 2018-11-30  Overdue              25    0.0
113696 2019-01-08 2019-01-31  Overdue              23    0.0
113697 2019-01-02 2019-01-30  Overdue              28    0.0
113698 2019-01-06 2019-02-04  Overdue              29    0.0
113699 2019-01-02 2019-01-30  Overdue              28    0.0
113700 2018-11-01 2018-11-30  Overdue              29    0.0
113701 2019-01-01 2019-01-30  Overdue              29    0.0
113702 2018-08-31 2018-09-25  Overdue              25    0.0
113703 2019-01-02 2019-01-31  Overdue              29    0.0
113704 2019-01-02 2019-01-31  Overdue              29    0.0
113705 2019-01-02 2019-01-31  Overdue              29    0.0
113706 2018-11-05 2018-11-30  Overdue              25    0.0
113707 2018-11-03 2018-11-30  Overdue              27    0.0
113708 2018-11-01 2018-11-30  Overdue              29    0.0
113709 2018-11-02 2018-11-30  Overdue              28    0.0
113710 2018-09-04 2018-10-01  Overdue              27    0.0
113711 2018-11-02 2018-11-30  Overdue              28    0.0

[113712 rows x 5 columns]

In [ ]:
for i,j in df2.iterrows():
    if df2['Range of Delay'][i]<=0:
        df2['Delay']=0
    elif (df2['Range of Delay'][i]>0) & (df2['Range of Delay'][i]<=2):
        df2['Delay'][i]=1
    elif (df2['Range of Delay'][i]>2) & (df2['Range of Delay'][i]<=7):
        df2['Delay'][i]=2
    elif (df2['Range of Delay'][i]>8) & (df2['Range of Delay'][i]<=15):
        df2['Delay'][i]=3
    elif (df2['Range of Delay'][i]>15) & (df2['Range of Delay'][i]<=30):
        df2['Delay'][i]=4
    elif (df2['Range of Delay'][i]>30) & (df2['Range of Delay'][i]<=60):
        df2['Delay'][i]=5
    elif (df2['Range of Delay'][i]>60) & (df2['Range of Delay'][i]<=90):
        df2['Delay'][i]=6
    elif (df2['Range of Delay'][i]>90) & (df2['Range of Delay'][i]<=180):
        df2['Delay'][i]=7
    else:
        df2['Delay'][i]=8

In [194]:
df2['Delay'].value_counts()

0    113712
Name: Range of Delay, dtype: int64

In [158]:
df1['Status']=df2['Delay']

In [ ]:
df1.dropna(inplace=True)
df1['Status']=df1['Status'].astype('category').cat.codes
df1['    BusA']=df1['    BusA'].astype('category').cat.codes
df1['CCAr']=df1['CCAr'].astype('category').cat.codes
#df['Account']=df['Account'].astype('category').cat.codes
df1.drop(columns='Reference',inplace=True)
df1.drop(columns='Customer Name',inplace=True)
df1.drop(columns=['DocumentNo','Month','Year','Clrng doc.'],inplace=True)
df1['Zone']=df1['Zone'].astype('category').cat.codes
df1['Bran']=df1['Bran'].astype('category').cat.codes
df1['PayT'] = df1['PayT'].astype('category').cat.codes
df1.drop(columns='Doc/Chq dt',inplace=True)
df1.head(5)

In [ ]:
df1['Pstng Date']=df1['Pstng Date'].dt.strftime("%Y%m%d").astype(str)
df1['Net Due Dt']=df1['Net Due Dt'].dt.strftime("%Y%m%d").astype(str)
df1['Clearing']=df1['Clearing'].dt.strftime("%Y%m%d").astype(str)

In [ ]:
df1.drop(columns=['Net Due Dt','Clearing'],inplace=True)

In [ ]:
df1 = df1.reset_index()
df1.drop(columns='index',inplace=True)

In [ ]:
df1.drop(columns='Arr (Clearing - Net Due Date)',inplace=True)

In [ ]:
from sklearn import preprocessing
y=df1.columns
x = df1.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df1 = pd.DataFrame(x_scaled,columns=df1.columns)
df1.head(5)

In [ ]:
y=np.array(df['Status'])
X=df

In [ ]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(X, y, test_size = 0.3, random_state=0)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model= RandomForestClassifier(n_estimators=100, n_jobs=2, random_state=0)
y1=model.fit(xtrain, ytrain)
y2=model.predict(xtest)

In [ ]:
from sklearn import metrics
from sklearn.metrics import roc_auc_score
print("Accuracy:",metrics.accuracy_score(ytest, y2))
print('ROC SCORE:',roc_auc_score(ytest, y2))
print(pd.Series(model.feature_importances_,index=df.columns).sort_values(ascending=False))