In [1]:
import pandas as pd
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt
import numpy as np

In [30]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_excel('BPR Only .xlsx','Sheet1')

In [3]:
################################### DATA PREPROCESSING  #####################################

In [5]:
df.dropna(inplace=True)
df['Status']=df['Status'].astype('category').cat.codes
df['    BusA']=df['    BusA'].astype('category').cat.codes
df['CCAr']=df['CCAr'].astype('category').cat.codes
#df['Account']=df['Account'].astype('category').cat.codes
df.drop(columns='Reference',inplace=True)
df.drop(columns='Customer Name',inplace=True)
df.drop(columns=['DocumentNo','Month','Year','Clrng doc.'],inplace=True)
df['Zone']=df['Zone'].astype('category').cat.codes
df['Bran']=df['Bran'].astype('category').cat.codes
df['PayT'] = df['PayT'].astype('category').cat.codes
df.drop(columns='Doc/Chq dt',inplace=True)
df.head(5)

,BusA,CCAr,Account,Zone,Bran,Status,Local Crcy Amt,Arr (Clearing - Net Due Date),PayT,Pstng Date,Net Due Dt,Clearing
0,6,0,928860,1,9,1,0.035212,5,31,2018-10-31,2018-11-10,2018-11-15
1,6,0,928860,1,9,0,0.123124,0,31,2018-11-05,2018-11-15,2018-11-15
2,6,0,814077,1,9,1,0.274466,3,27,2018-11-19,2018-11-24,2018-11-27
4,6,0,814077,1,9,1,0.151648,6,27,2018-12-29,2019-01-03,2019-01-09
5,6,0,814077,1,9,1,0.156470,6,27,2018-12-29,2019-01-03,2019-01-09

In [6]:
df['Pstng Date']=df['Pstng Date'].dt.strftime("%Y%m%d").astype(str)
df['Net Due Dt']=df['Net Due Dt'].dt.strftime("%Y%m%d").astype(str)
df['Clearing']=df['Clearing'].dt.strftime("%Y%m%d").astype(str)

In [7]:
df = df.reset_index()
df.drop(columns='index',inplace=True)

In [8]:
df.drop(columns='Clearing',inplace=True)
df.drop(columns='Arr (Clearing - Net Due Date)',inplace=True)

In [12]:
from sklearn import preprocessing
y=df.columns
x = df.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled,columns=df.columns)
df.head(5)

,BusA,CCAr,Account,Zone,Bran,Status,Local Crcy Amt,PayT,Pstng Date,Net Due Dt
0,1.0,0.0,0.999243,0.333333,0.409091,1.0,0.069108,0.861111,0.759036,0.072875
1,1.0,0.0,0.999243,0.333333,0.409091,0.0,0.241670,0.861111,0.848193,0.073389
2,1.0,0.0,0.860825,0.333333,0.409091,1.0,0.538742,0.750000,0.865060,0.074314
3,1.0,0.0,0.860825,0.333333,0.409091,1.0,0.297662,0.750000,0.997590,0.997225
4,1.0,0.0,0.860825,0.333333,0.409091,1.0,0.307127,0.750000,0.997590,0.997225

In [ ]:
#####################################################################################################

In [ ]:
################################  RANDOM FOREST  ###################################################

In [13]:
y=np.array(df['Status'])
X=df

In [14]:
df.drop(columns='Status',inplace=True)

In [15]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(X, y, test_size = 0.3)

In [17]:
from sklearn.ensemble import RandomForestClassifier
model= RandomForestClassifier(n_estimators=100, n_jobs=2, random_state=0)

In [18]:
y1=model.fit(xtrain, ytrain)

In [19]:
y2=model.predict(xtest)

In [20]:
from sklearn import metrics
from sklearn.metrics import roc_auc_score
print("Accuracy:",metrics.accuracy_score(ytest, y2))
print('ROC SCORE:',roc_auc_score(ytest, y2))
print(pd.Series(model.feature_importances_,index=df.columns).sort_values(ascending=False))

Accuracy: 0.9508119833499443
ROC SCORE: 0.9180355208338247
Net Due Dt          0.197455
Account             0.196840
Pstng Date          0.178546
  Local Crcy Amt    0.143307
PayT                0.113218
Bran                0.092066
    BusA            0.044839
Zone                0.033731
CCAr                0.000000
dtype: float64
[[26403   716]
 [  962  6033]]

In [25]:
unique, counts = np.unique(ytest, return_counts=True)
print(dict(zip(unique, counts)))
unique, counts = np.unique(y2, return_counts=True)
print(dict(zip(unique, counts)))
print()
print(metrics.confusion_matrix(ytest, y2))

{0.0: 27119, 1.0: 6995}
{0.0: 27365, 1.0: 6749}

[[26403   716]
 [  962  6033]]

In [ ]:
##############################  lOGISTIC REGRESSION  ####################################

In [31]:
from sklearn.linear_model import LogisticRegression
logisticRegr = LogisticRegression()
logisticRegr.fit(xtrain, ytrain)
y4=logisticRegr.predict(xtest)

In [33]:
print("Accuracy:",metrics.accuracy_score(ytest, y4))
print('ROC SCORE:',roc_auc_score(ytest, y4))
coefficients=logisticRegr.coef_
for i in range(len(X.columns)):
    print(X.columns[i],'-------->',coefficients[0][i])

Accuracy: 0.7964178929471771
ROC SCORE: 0.5514181994213364
    BusA --------> -0.10896268543661555
CCAr --------> 0.0
Account --------> 0.5556070829243853
Zone --------> -0.045143529781001036
Bran --------> 1.106036382225654
  Local Crcy Amt --------> -0.47246302690589853
PayT --------> 2.208140264773917
Pstng Date --------> 0.8812056226557531
Net Due Dt --------> 0.9912923069519305

In [28]:
unique, counts = np.unique(ytest, return_counts=True)
print(dict(zip(unique, counts)))
unique, counts = np.unique(y4, return_counts=True)
print(dict(zip(unique, counts)))
print()
print(metrics.confusion_matrix(ytest, y2))

{0.0: 27119, 1.0: 6995}
{0.0: 32260, 1.0: 1854}

[[26403   716]
 [  962  6033]]