In [1]:
import pandas as pd

In [2]:
import numpy as np

In [5]:
df=pd.read_excel('PAYMENT.xlsx')

In [6]:
df.head()

  INVOICE DATE    AMOUNT CLEARING DATE
0   2018-06-14  0.848139    2018-10-28
1   2018-05-14  0.171973    2018-07-27
2   2018-04-01  0.087708    2018-10-16
3   2018-06-13  0.391913    2018-06-03
4   2019-03-13  0.474903    2018-05-03

In [8]:
from sklearn.cluster import KMeans

from sklearn.decomposition import PCA

In [13]:
df["INVOICE DATE"] = pd.to_datetime(df["INVOICE DATE"]).dt.strftime("%Y%m%d")
df["CLEARING DATE"] = pd.to_datetime(df["CLEARING DATE"]).dt.strftime("%Y%m%d")

In [28]:
kmeans=KMeans(n_clusters=4)

kmeansoutput=kmeans.fit(df[["INVOICE DATE","AMOUNT"]],df['CLEARING DATE'])

In [30]:
kmeansoutput.predict([)

SyntaxError: invalid syntax (<ipython-input-30-a624a8c3550f>, line 1)