In [56]:
import pandas as pd

In [57]:
import numpy as np

In [64]:
df=pd.read_excel('PAYMENT.xlsx')

In [65]:
df

    INVOICE DATE    AMOUNT CLEARING DATE  POD
0     2019-01-28  0.567728    2019-02-11    9
1     2018-11-25  0.701253    2018-12-09    5
2     2018-07-09  0.560119    2018-07-09    7
3     2018-06-20  0.683401    2018-07-01    5
4     2018-06-03  0.429630    2018-06-03    7
5     2018-04-06  0.666492    2018-04-12    3
6     2018-10-17  0.146306    2018-11-04    8
7     2018-08-27  0.480846    2018-08-30    0
8     2019-02-16  0.103945    2019-02-20    2
9     2018-12-30  0.971608    2019-01-05    8
10    2018-06-29  0.868946    2018-07-15    9
11    2018-08-12  0.505994    2018-08-17   10
12    2018-06-04  0.823545    2018-06-24    4
13    2018-09-13  0.276738    2018-10-01    5
14    2018-08-22  0.947360    2018-08-25    9
15    2018-11-15  0.363795    2018-11-30    4
16    2018-08-25  0.337798    2018-09-01    5
17    2018-04-09  0.603591    2018-04-27    6
18    2019-02-19  0.873320    2019-02-28   10
19    2018-10-20  0.167253    2018-10-30    2
20    2018-09-25  0.828086    2018-10-11    1
21    2019-03-17  0.203251    2019-03-27    8
22    2018-06-03  0.718116    2018-06-23   10
23    2018-12-10  0.167488    2018-12-15    6
24    2018-12-23  0.305272    2019-01-03    8
25    2019-03-11  0.613453    2019-03-11    6
26    2018-12-21  0.122039    2018-12-25    2
27    2018-04-01  0.331616    2018-04-19    5
28    2018-11-07  0.673132    2018-11-23    7
29    2018-12-18  0.112051    2018-12-23    4
..           ...       ...           ...  ...
169   2019-03-13  0.942676    2019-03-13    3
170   2018-06-11  0.471744    2018-06-27    6
171   2018-12-29  0.433817    2019-01-06    7
172   2018-10-20  0.895927    2018-10-23    6
173   2019-02-11  0.233007    2019-02-15    3
174   2018-11-29  0.786028    2018-12-03    9
175   2019-03-15  0.742851    2019-03-23    1
176   2018-07-25  0.160174    2018-07-29   10
177   2018-10-14  0.534515    2018-10-21    6
178   2018-12-17  0.836046    2018-12-29    0
179   2018-08-24  0.678938    2018-09-07    8
180   2019-02-22  0.170078    2019-03-14    5
181   2018-06-24  0.965968    2018-07-04    8
182   2018-09-22  0.970698    2018-09-25    6
183   2018-05-30  0.606861    2018-06-09    2
184   2018-11-02  0.612720    2018-11-07    6
185   2019-02-12  0.808471    2019-02-21    1
186   2018-11-18  0.215802    2018-11-29    1
187   2018-08-28  0.637629    2018-09-07   10
188   2018-09-06  0.487297    2018-09-12    8
189   2018-06-14  0.881076    2018-06-27    9
190   2019-03-19  0.884804    2019-03-24    9
191   2018-04-01  0.651546    2018-04-04   10
192   2018-07-04  0.112706    2018-07-17    4
193   2018-10-13  0.879810    2018-10-23    3
194   2019-01-26  0.370628    2019-02-02    5
195   2019-03-29  0.425872    2019-04-04    8
196   2018-06-04  0.585237    2018-06-15    4
197   2018-04-11  0.154067    2018-04-17    1
198   2018-04-24  0.397054    2018-04-26    2

[199 rows x 4 columns]

In [61]:
#df["INVOICE DATE"] = pd.to_datetime(df["INVOICE DATE"]).dt.strftime("%Y%m%d")
#df["CLEARING DATE"] = pd.to_datetime(df["CLEARING DATE"]).dt.strftime("%Y%m%d")

In [70]:
df['Difference'] = df['CLEARING DATE'].sub(df['INVOICE DATE'], axis=0)

In [71]:
df['Difference']=df[['Difference']].apply(pd.to_numeric)

In [76]:
for i in range(len(df)):
    if(df['Difference'][i]>df['POD'][i]):
        df['label'][i]=0
    else:
        df['label'][i]=1

C:\Users\Laptop\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Laptop\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [84]:
count=df['label'].value_counts()

In [85]:
count

0    188
1     11
Name: label, dtype: int64

In [86]:
df["INVOICE DATE"] = pd.to_datetime(df["INVOICE DATE"]).dt.strftime("%Y%m%d")
df["CLEARING DATE"] = pd.to_datetime(df["CLEARING DATE"]).dt.strftime("%Y%m%d")

In [ ]:
from sklearn.model_selection import train_test_split
xTrain, xTest, yTrain, yTest = train_test_split(x, y, test_size = 0.2, random_state = 0)